*, *:after, *:before {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background: #F5F5F5;
  overflow-x: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  background: #fff;
  border-radius: 25px;
  overflow: hidden;
}

.background {
  position: absolute;
  background: #CFD8DC;
  width: 100%;
  height: 60px;
  bottom: 0;
  left: 0;
}

.platform {
  position: absolute;
  background: #E0E0E0;
  width: 300px;
  height: 100px;
  top: 150px;
  left: 100px;
}

.box {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #00ACC1;
  border-radius: 2px;
}

#box-one {
  top: 130px;
  left: 100px;
}

#box-two {
  top: 130px;
  left: 140px;
}

.elevator {
  position: absolute;
  left: 300px;
  top: 245px;
  background: #546E7A;
  height: 5px;
  width: 40px;
}

.elevator-shaft {
  position: absolute;
  top: 150px;
  left: 300px;
  width: 40px;
  background: #bdbdbd;
  height: 100px;
}

.robot {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #607D8B;
  border-radius: 5px 5px 0 0;
}

#robot-one {
  top: 225px;
  left: 32px;
}

#robot-two {
  top: 124px;
  left: 168px;
}

.robot:before {
  content: "";
  width: 12px;
  height: 8px;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  background: #FFA000;
  border-radius: 50% 50% 0 0;
}

.wheel {
  position: absolute;
  top: 100%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: 2px;
  background: #FF6F00;
}

.wheel:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FF6F00;
  top: 0;
  left: 10px;
}

.arm {
  position: absolute;
  height: 4px;
  width: 4px;
  background: #FFA000;
  top: 8px;
}

.arm:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 4px;
  height: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #FF6F00;
}

#robot-one .arm {
  left: 100%;
}

#robot-one .arm:before {
  left: 100%;
}

#robot-two .arm {
  right: 100%;
}

#robot-two .arm:before {
  right: 100%;
}
